---
title: Index.html
---

extends layouts/_layout

block content
	.wrapper
		.main.mt
			a(href="/").card.draw-border
				.card__border
					img.card__img(src="/img/Frame29.png", alt="Img", srcset="/img/Frame29.png")
					.card__block-text
						time.card__date з 20.03.2021 по 20.04.2021
						h3.card__title Великодні подарунки від Mastercard та GastroFamily
						p.card__text Ми приготували для вас великодні бокси разом з добрим партнером Дмитром Борисовим. Беріть участь у розіграші подарунків.

						.card__title-promo До кiнця акцiї
						.timer
							.timer__block
								p.timer__count 18
								p.timer__string днiв
							.timer__block
								p.timer__count 12
								p.timer__string годин
							.timer__block
								p.timer__count 43
								p.timer__string хвилин

					.card__more
						time.card__date-mobile з 20.03.2021 по 20.04.2021
						p.card__more-text Дiзнатися бiльше
						.card__more-arrow
							<svg viewBox="0 0 9 15" fill="none">
								<path d="M1.54944 14.9909C1.1452 14.9909 0.733044 15.0052 0.328812 14.9837C0.0355447 14.9694 -0.0595689 14.8188 0.0355447 14.5679C0.0910276 14.4317 0.178215 14.2955 0.273329 14.1808C2.06463 12.0157 3.85594 9.85063 5.65517 7.68557C5.77406 7.54936 5.77406 7.45616 5.65517 7.31994C3.85594 5.15488 2.05671 2.98981 0.265403 0.824744C0.146511 0.681363 0.0672492 0.494966 0.0117663 0.315739C-0.0357905 0.172357 0.0672492 0.0648204 0.233698 0.036144C0.320885 0.0218058 0.400147 0.00746765 0.487334 0.00746765C1.12935 0.000298559 1.76344 0.0146367 2.40546 0.000298559C2.76213 -0.00687054 3.01577 0.115004 3.22185 0.373091C5.04486 2.61702 6.8758 4.85378 8.70673 7.09053C8.8177 7.22675 9 7.37013 9 7.51351C9 7.64972 8.80977 7.78594 8.69881 7.92215C6.8758 10.1517 5.05279 12.3813 3.2377 14.6109C3.03955 14.8618 2.80969 15.0196 2.45302 14.998C2.15182 14.9765 1.85063 14.9909 1.54944 14.9909Z" fill="#FCFCFC"/>
							</svg>

			a(href="/").card.draw-border
				.card__border
					img.card__img(src="/img/Frame29.png", alt="Img", srcset="/img/Frame29.png")
					.card__block-text
						time.card__date з 20.03.2021 по 20.04.2021
						h3.card__title Великодні подарунки від Mastercard та GastroFamily
						p.card__text Ми приготували для вас великодні бокси разом з добрим партнером Дмитром Борисовим. Беріть участь у розіграші подарунків.

					.card__more
						time.card__date-mobile з 20.03.2021 по 20.04.2021
						p.card__more-text Дiзнатися бiльше
						.card__more-arrow
							<svg viewBox="0 0 9 15" fill="none">
								<path d="M1.54944 14.9909C1.1452 14.9909 0.733044 15.0052 0.328812 14.9837C0.0355447 14.9694 -0.0595689 14.8188 0.0355447 14.5679C0.0910276 14.4317 0.178215 14.2955 0.273329 14.1808C2.06463 12.0157 3.85594 9.85063 5.65517 7.68557C5.77406 7.54936 5.77406 7.45616 5.65517 7.31994C3.85594 5.15488 2.05671 2.98981 0.265403 0.824744C0.146511 0.681363 0.0672492 0.494966 0.0117663 0.315739C-0.0357905 0.172357 0.0672492 0.0648204 0.233698 0.036144C0.320885 0.0218058 0.400147 0.00746765 0.487334 0.00746765C1.12935 0.000298559 1.76344 0.0146367 2.40546 0.000298559C2.76213 -0.00687054 3.01577 0.115004 3.22185 0.373091C5.04486 2.61702 6.8758 4.85378 8.70673 7.09053C8.8177 7.22675 9 7.37013 9 7.51351C9 7.64972 8.80977 7.78594 8.69881 7.92215C6.8758 10.1517 5.05279 12.3813 3.2377 14.6109C3.03955 14.8618 2.80969 15.0196 2.45302 14.998C2.15182 14.9765 1.85063 14.9909 1.54944 14.9909Z" fill="#FCFCFC"/>
							</svg>

		section.block-cards
			each el, i in [1,2,3,4,5,6,7,8,9]
				a(href="/stock.html" class=(i % 2 ? "card-small card-small__with-title draw-border" : "card-small draw-border"))
					img.card-small__img(src="/img/frame29.jpg", alt="Image card", srcset="/img/frame29.jpg")
					.card-small__info
						.card-small__top
							h3.card-small__title Вигравайте винні набори та сертифікати на онлайн-курс "Подорож винами Європи"
							p.card-small__text Забракло готівки? Спробуйте послугу «Готівка на касі» від Mastercard у мережі АЗК «ОККО» і отримайте 10 грн балами у програмі лояльності Fishka.
						.card-small__bottom
							time.card-small__date з 20.03.2021 по 20.04.2021
							.card-small__arrow
								<svg viewBox="0 0 9 15" fill="none">
									<path d="M1.54944 14.9909C1.1452 14.9909 0.733044 15.0052 0.328812 14.9837C0.0355447 14.9694 -0.0595689 14.8188 0.0355447 14.5679C0.0910276 14.4317 0.178215 14.2955 0.273329 14.1808C2.06463 12.0157 3.85594 9.85063 5.65517 7.68557C5.77406 7.54936 5.77406 7.45616 5.65517 7.31994C3.85594 5.15488 2.05671 2.98981 0.265403 0.824744C0.146511 0.681363 0.0672492 0.494966 0.0117663 0.315739C-0.0357905 0.172357 0.0672492 0.0648204 0.233698 0.036144C0.320885 0.0218058 0.400147 0.00746765 0.487334 0.00746765C1.12935 0.000298559 1.76344 0.0146367 2.40546 0.000298559C2.76213 -0.00687054 3.01577 0.115004 3.22185 0.373091C5.04486 2.61702 6.8758 4.85378 8.70673 7.09053C8.8177 7.22675 9 7.37013 9 7.51351C9 7.64972 8.80977 7.78594 8.69881 7.92215C6.8758 10.1517 5.05279 12.3813 3.2377 14.6109C3.03955 14.8618 2.80969 15.0196 2.45302 14.998C2.15182 14.9765 1.85063 14.9909 1.54944 14.9909Z" fill="#FCFCFC"/>
								</svg>

		.pagination-block
			.pagination-block__arrow-prev
				<svg viewBox="0 0 9 15" fill="none">
					<path d="M1.54944 14.9909C1.1452 14.9909 0.733044 15.0052 0.328812 14.9837C0.0355447 14.9694 -0.0595689 14.8188 0.0355447 14.5679C0.0910276 14.4317 0.178215 14.2955 0.273329 14.1808C2.06463 12.0157 3.85594 9.85063 5.65517 7.68557C5.77406 7.54936 5.77406 7.45616 5.65517 7.31994C3.85594 5.15488 2.05671 2.98981 0.265403 0.824744C0.146511 0.681363 0.0672492 0.494966 0.0117663 0.315739C-0.0357905 0.172357 0.0672492 0.0648204 0.233698 0.036144C0.320885 0.0218058 0.400147 0.00746765 0.487334 0.00746765C1.12935 0.000298559 1.76344 0.0146367 2.40546 0.000298559C2.76213 -0.00687054 3.01577 0.115004 3.22185 0.373091C5.04486 2.61702 6.8758 4.85378 8.70673 7.09053C8.8177 7.22675 9 7.37013 9 7.51351C9 7.64972 8.80977 7.78594 8.69881 7.92215C6.8758 10.1517 5.05279 12.3813 3.2377 14.6109C3.03955 14.8618 2.80969 15.0196 2.45302 14.998C2.15182 14.9765 1.85063 14.9909 1.54944 14.9909Z" fill="#FCFCFC"/>
				</svg>

			.pagination-block__block-count
				each el in [1,2,3,4,5]
					.pagination-block__count= el

			.pagination-block__arrow-next
				<svg viewBox="0 0 9 15" fill="none">
					<path d="M1.54944 14.9909C1.1452 14.9909 0.733044 15.0052 0.328812 14.9837C0.0355447 14.9694 -0.0595689 14.8188 0.0355447 14.5679C0.0910276 14.4317 0.178215 14.2955 0.273329 14.1808C2.06463 12.0157 3.85594 9.85063 5.65517 7.68557C5.77406 7.54936 5.77406 7.45616 5.65517 7.31994C3.85594 5.15488 2.05671 2.98981 0.265403 0.824744C0.146511 0.681363 0.0672492 0.494966 0.0117663 0.315739C-0.0357905 0.172357 0.0672492 0.0648204 0.233698 0.036144C0.320885 0.0218058 0.400147 0.00746765 0.487334 0.00746765C1.12935 0.000298559 1.76344 0.0146367 2.40546 0.000298559C2.76213 -0.00687054 3.01577 0.115004 3.22185 0.373091C5.04486 2.61702 6.8758 4.85378 8.70673 7.09053C8.8177 7.22675 9 7.37013 9 7.51351C9 7.64972 8.80977 7.78594 8.69881 7.92215C6.8758 10.1517 5.05279 12.3813 3.2377 14.6109C3.03955 14.8618 2.80969 15.0196 2.45302 14.998C2.15182 14.9765 1.85063 14.9909 1.54944 14.9909Z" fill="#FCFCFC"/>
				</svg>