---
title: stock.html
---

extends layouts/_layout

block content
	//- .wrapper
	//- 	.main.mt
	section.stock-banner
		.wrapper
			a(href="/").back-block
				svg(viewBox="0 0 10 19" fill="none")
					path(d="M8.27841 0.0112761C8.72755 0.0112761 9.18551 -0.00647552 9.63466 0.020153C9.96051 0.0379047 10.0662 0.2243 9.96051 0.534962C9.89886 0.703606 9.80198 0.87225 9.6963 1.01427C7.70596 3.69483 5.71562 6.37538 3.71648 9.05594C3.58437 9.22459 3.58437 9.33998 3.71648 9.50862C5.71562 12.1892 7.71477 14.8697 9.70511 17.5503C9.83721 17.7278 9.92528 17.9586 9.98693 18.1805C10.0398 18.358 9.92528 18.4912 9.74034 18.5267C9.64346 18.5444 9.55539 18.5622 9.45852 18.5622C8.74517 18.571 8.04062 18.5533 7.32727 18.571C6.93096 18.5799 6.64914 18.429 6.42017 18.1095C4.3946 15.3313 2.36023 12.562 0.325852 9.79265C0.202557 9.62401 7.97726e-07 9.44649 8.13245e-07 9.26897C8.27989e-07 9.10032 0.211364 8.93168 0.334659 8.76303C2.36023 6.00259 4.38579 3.24215 6.40255 0.481704C6.62273 0.171045 6.87812 -0.0242274 7.27443 0.00240111C7.60909 0.0290277 7.94375 0.0112761 8.27841 0.0112761Z" fill="#054E99")
				p.back-block__text Назад до акцiй
			.flex.flex-direction-mob
				.stock-banner__left
					img(src="/img/card.png", alt="Card image", srcset="/img/card.png")
				.stock-banner__right
					time.stock-banner__date з 20.03.2021 по 20.04.2021
					h1.stock-banner__title Вигравайте винні набори та<br/> сертифікати на онлайн-курс<br/> "Подорож винами Європи"
					p.stock-banner__text-gift Вигравайте один з двадцяти комплексних<br/> подарунків від Mastercard
					.stock-banner__finish-block
						p.stock-banner__finish-text Акцію завершено
						a(href="/").stock-banner__finish-btn Дивитися переможцiв
							svg(viewBox="0 0 9 15" fill="none")
								path(d="M1.54944 14.9909C1.1452 14.9909 0.733044 15.0052 0.328812 14.9837C0.0355447 14.9694 -0.0595689 14.8188 0.0355447 14.5679C0.0910276 14.4317 0.178215 14.2955 0.273329 14.1808C2.06463 12.0157 3.85594 9.85063 5.65517 7.68557C5.77406 7.54936 5.77406 7.45616 5.65517 7.31994C3.85594 5.15488 2.05671 2.98981 0.265403 0.824744C0.146511 0.681363 0.0672492 0.494966 0.0117663 0.315739C-0.0357905 0.172357 0.0672492 0.0648204 0.233698 0.036144C0.320885 0.0218058 0.400147 0.00746765 0.487334 0.00746765C1.12935 0.000298559 1.76344 0.0146367 2.40546 0.000298559C2.76213 -0.00687054 3.01577 0.115004 3.22185 0.373091C5.04486 2.61702 6.8758 4.85378 8.70673 7.09053C8.8177 7.22675 9 7.37013 9 7.51351C9 7.64972 8.80977 7.78594 8.69881 7.92215C6.8758 10.1517 5.05279 12.3813 3.2377 14.6109C3.03955 14.8618 2.80969 15.0196 2.45302 14.998C2.15182 14.9765 1.85063 14.9909 1.54944 14.9909Z" fill="#FCFCFC")

	section.draws-section
		.wrapper.flex.flex-direction-mob
			.draws-section__left
				h3.draws-section__title Як взяти участь у<br/> розіграші:

			.wysiwyg-draws
				p Сплачуйте за підписку Glovo Prime картою Mastercard і беріть участь у розіграші промокодів на 500 і 2000 грн на доставку.
				p Загалом під час акції буде розіграно 60 промокодів на 500 грн. та 12 промокодів на 2000 грн.
				div
					a(href="/", target="_blank", rel="noopener noreferrer") Деталi акцiї
					a(href="/", target="_blank", rel="noopener noreferrer") Отримати карту
				small Акція діє з 15.03.2021 р. по 15.06.2021 р. включно на території України,<br/> за винятком тимчасово окупованої території, визначеної<br/> законодавством України, і території проведення ООС
				form
					a(href="/") Офіційні правила акції
						span
							svg(viewBox="0 0 17 18" fill="none")
								path(d="M15.9375 15.96H1.0625C0.780707 15.96 0.510457 16.0675 0.311199 16.2588C0.111942 16.45 0 16.7095 0 16.98C0 17.2505 0.111942 17.51 0.311199 17.7013C0.510457 17.8925 0.780707 18 1.0625 18H15.9375C16.2193 18 16.4895 17.8925 16.6888 17.7013C16.8881 17.51 17 17.2505 17 16.98C17 16.7095 16.8881 16.45 16.6888 16.2588C16.4895 16.0675 16.2193 15.96 15.9375 15.96ZM7.74563 13.6242C7.84667 13.7171 7.96583 13.7899 8.09625 13.8384C8.22343 13.8924 8.36095 13.9202 8.5 13.9202C8.63905 13.9202 8.77657 13.8924 8.90375 13.8384C9.03417 13.7899 9.15333 13.7171 9.25438 13.6242L13.5044 9.5442C13.7044 9.35213 13.8168 9.09163 13.8168 8.82C13.8168 8.54837 13.7044 8.28787 13.5044 8.0958C13.3043 7.90373 13.0329 7.79583 12.75 7.79583C12.4671 7.79583 12.1957 7.90373 11.9956 8.0958L9.5625 10.4418V1.02C9.5625 0.749479 9.45056 0.490038 9.2513 0.298751C9.05204 0.107464 8.78179 0 8.5 0C8.21821 0 7.94796 0.107464 7.7487 0.298751C7.54944 0.490038 7.4375 0.749479 7.4375 1.02V10.4418L5.00438 8.0958C4.90531 8.0007 4.7877 7.92526 4.65827 7.87379C4.52883 7.82232 4.3901 7.79583 4.25 7.79583C4.1099 7.79583 3.97117 7.82232 3.84174 7.87379C3.7123 7.92526 3.59469 8.0007 3.49562 8.0958C3.39656 8.1909 3.31798 8.30381 3.26436 8.42807C3.21075 8.55232 3.18315 8.6855 3.18315 8.82C3.18315 8.9545 3.21075 9.08768 3.26436 9.21194C3.31798 9.33619 3.39656 9.4491 3.49562 9.5442L7.74563 13.6242Z" fill="white")
					small Ви можете ознайомитися<br/> з деталями акції

	section.winner-section
		.wrapper.flex.flex-direction-mob
			.winner-section__left
				h3.winner-section__title Переможцi

			.winner-section__right
				.winner-section__table
					.winner-section__header
						.winner-section__header-title Дата
						.winner-section__header-title Iм’я
						.winner-section__header-title Подарунок
					each el in [1,2,3,4,5,6,7,8,9]
						.winner-section__col
							.winner-section__col-text 05.05.2021
							.winner-section__col-text Соломiя Крушельницька
							.winner-section__col-text iPhone 11
				.winner-section__table-mobile
					each el in [1,2,3,4,5,6,7,8,9]
						.winner-section__wrapper-col
							.winner-section__col-mob
								.winner-section__col-mob-key Дата
								.winner-section__col-mob-val 05.05.2021
							.winner-section__col-mob
								.winner-section__col-mob-key Iм’я
								.winner-section__col-mob-val Соломiя Крушельницька
							.winner-section__col-mob
								.winner-section__col-mob-key Подарунок
								.winner-section__col-mob-val iPhone 11
				.winner-section__pagination
					.winner-section__count.winner-section__count--active 1
					.winner-section__count 2

	section.gallery-section
		.wrapper
			.gallery-section__header
				.gallery-section__title Галерея
				.slider-action.wrapper-btn#gallery-btn
					button.slider__btn.slider__btn--prev(type="button" aria-label="Prev slide")
						svg(viewBox="0 0 8 15" fill="none")
							path(d="M6.62272 0.00912273C6.98204 0.00912276 7.34841 -0.00521475 7.70772 0.0162925C7.96841 0.0306311 8.05295 0.181182 7.96841 0.4321C7.91909 0.568313 7.84159 0.704526 7.75704 0.819231C6.16477 2.9843 4.5725 5.14936 2.97318 7.31443C2.8675 7.45064 2.8675 7.54384 2.97318 7.68005C4.5725 9.84512 6.17181 12.0102 7.76409 14.1753C7.86977 14.3186 7.94022 14.505 7.98954 14.6843C8.03181 14.8276 7.94022 14.9352 7.79227 14.9639C7.71477 14.9782 7.64431 14.9925 7.56681 14.9925C6.99613 14.9997 6.4325 14.9854 5.86181 14.9997C5.54477 15.0069 5.31932 14.885 5.13613 14.6269C3.51568 12.383 1.88818 10.1462 0.260682 7.90947C0.162045 7.77325 6.44317e-07 7.62987 6.56852e-07 7.48649C6.6876e-07 7.35028 0.169091 7.21406 0.267728 7.07785C1.88818 4.84826 3.50864 2.61867 5.12204 0.389085C5.29818 0.138166 5.5025 -0.0195524 5.81954 0.00195484C6.08727 0.0234621 6.355 0.0091227 6.62272 0.00912273Z" fill="white")
					button.slider__btn.slider__btn--next(type="button" aria-label="Next slide")
						svg(viewBox="0 0 8 15" fill="none")
							path(d="M6.62272 0.00912273C6.98204 0.00912276 7.34841 -0.00521475 7.70772 0.0162925C7.96841 0.0306311 8.05295 0.181182 7.96841 0.4321C7.91909 0.568313 7.84159 0.704526 7.75704 0.819231C6.16477 2.9843 4.5725 5.14936 2.97318 7.31443C2.8675 7.45064 2.8675 7.54384 2.97318 7.68005C4.5725 9.84512 6.17181 12.0102 7.76409 14.1753C7.86977 14.3186 7.94022 14.505 7.98954 14.6843C8.03181 14.8276 7.94022 14.9352 7.79227 14.9639C7.71477 14.9782 7.64431 14.9925 7.56681 14.9925C6.99613 14.9997 6.4325 14.9854 5.86181 14.9997C5.54477 15.0069 5.31932 14.885 5.13613 14.6269C3.51568 12.383 1.88818 10.1462 0.260682 7.90947C0.162045 7.77325 6.44317e-07 7.62987 6.56852e-07 7.48649C6.6876e-07 7.35028 0.169091 7.21406 0.267728 7.07785C1.88818 4.84826 3.50864 2.61867 5.12204 0.389085C5.29818 0.138166 5.5025 -0.0195524 5.81954 0.00195484C6.08727 0.0234621 6.355 0.0091227 6.62272 0.00912273Z" fill="white")

			ul#gallery
				each el in [1,2,3,4,5,6]
					li
						a.carousel-block( href="#" id ='0'+el )
							img(src="/img/phone.png", alt="Gallery image", srcset="/img/phone.png")

	section.faq
		.wrapper.flex.flex-direction-mob
			.faq__left
				h4.faq__title Поширені запитання
			//- .faq__right
			//- 	button(class="faq__accordion") Чи обов’язково реєструватися? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
			//- 		.faq__accordion-body"
			//- 			p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.

			//- 	button(class="faq__accordion") Хто може взяти участь в акції? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
			//- 		.faq__accordion-body
			//- 			p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.

			//- 	button(class="faq__accordion") Що потрібно зробити? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
			//- 		.faq__accordion-body
			//- 			p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.

			//- 	button(class="faq__accordion") Яка винагорода чекає на учасників акції? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
			//- 		.faq__accordion-body
			//- 			p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.

			//- 	button(class="faq__accordion border-bottom-0") Коли буде визначено переможців? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
			//- 		.faq__accordion-body
			//- 			p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.