---
title: stock.html
---

extends layouts/_layout

block content
	//- .stock-banner__right-user .stock-banner__right-registration .stock-banner__right-finish .stock-banner__form-error
	section.stock-banner
		.wrapper
			a(href="/").back-block
				svg(viewBox="0 0 10 19" fill="none")
					path(d="M8.27841 0.0112761C8.72755 0.0112761 9.18551 -0.00647552 9.63466 0.020153C9.96051 0.0379047 10.0662 0.2243 9.96051 0.534962C9.89886 0.703606 9.80198 0.87225 9.6963 1.01427C7.70596 3.69483 5.71562 6.37538 3.71648 9.05594C3.58437 9.22459 3.58437 9.33998 3.71648 9.50862C5.71562 12.1892 7.71477 14.8697 9.70511 17.5503C9.83721 17.7278 9.92528 17.9586 9.98693 18.1805C10.0398 18.358 9.92528 18.4912 9.74034 18.5267C9.64346 18.5444 9.55539 18.5622 9.45852 18.5622C8.74517 18.571 8.04062 18.5533 7.32727 18.571C6.93096 18.5799 6.64914 18.429 6.42017 18.1095C4.3946 15.3313 2.36023 12.562 0.325852 9.79265C0.202557 9.62401 7.97726e-07 9.44649 8.13245e-07 9.26897C8.27989e-07 9.10032 0.211364 8.93168 0.334659 8.76303C2.36023 6.00259 4.38579 3.24215 6.40255 0.481704C6.62273 0.171045 6.87812 -0.0242274 7.27443 0.00240111C7.60909 0.0290277 7.94375 0.0112761 8.27841 0.0112761Z" fill="#054E99")
				p.back-block__text Назад до акцiй
			.flex.flex-direction-mob
				.stock-banner__left
					img(src="/img/card.png", alt="Card image", srcset="/img/card.png")
				.stock-banner__right
					time.stock-banner__date з 20.03.2021 по 20.04.2021
					h1.stock-banner__title Великодні подарунки від Mastercard<br/> та GastroFamily
					form.stock-banner__form
						p.stock-banner__text Взяти участь
						.stock-banner__block-input
							small Введіть номер<br/> вашої картки
							.stock-banner__wrap-input
								input(type="password" placeholder="0000 0000 0000 0000" maxlength="19" size="19" class="cc-number-input" id="cc-number-input")
								.stock-banner__wrap-empty
								p.stock-banner__error Картки не існує, спробуйте, будь ласка, ще раз
								.stock-banner__wrap-svg
									svg(width="21" height="16" viewBox="0 0 21 16" fill="none")
										path(d="M19.9235 7.6C17.9035 2.91 14.1035 0 10.0035 0C5.90348 0 2.10348 2.91 0.0834848 7.6C0.0284215 7.72617 0 7.86234 0 8C0 8.13766 0.0284215 8.27383 0.0834848 8.4C2.10348 13.09 5.90348 16 10.0035 16C14.1035 16 17.9035 13.09 19.9235 8.4C19.9785 8.27383 20.007 8.13766 20.007 8C20.007 7.86234 19.9785 7.72617 19.9235 7.6ZM10.0035 14C6.82348 14 3.83348 11.71 2.10348 8C3.83348 4.29 6.82348 2 10.0035 2C13.1835 2 16.1735 4.29 17.9035 8C16.1735 11.71 13.1835 14 10.0035 14ZM10.0035 4C9.21236 4 8.439 4.2346 7.7812 4.67412C7.12341 5.11365 6.61072 5.73836 6.30797 6.46927C6.00522 7.20017 5.926 8.00444 6.08034 8.78036C6.23468 9.55628 6.61565 10.269 7.17506 10.8284C7.73447 11.3878 8.4472 11.7688 9.22312 11.9231C9.99905 12.0775 10.8033 11.9983 11.5342 11.6955C12.2651 11.3928 12.8898 10.8801 13.3294 10.2223C13.7689 9.56448 14.0035 8.79113 14.0035 8C14.0035 6.93913 13.5821 5.92172 12.8319 5.17157C12.0818 4.42143 11.0644 4 10.0035 4ZM10.0035 10C9.60792 10 9.22124 9.8827 8.89234 9.66294C8.56345 9.44318 8.3071 9.13082 8.15573 8.76537C8.00435 8.39991 7.96474 7.99778 8.04191 7.60982C8.11908 7.22186 8.30957 6.86549 8.58927 6.58579C8.86898 6.30608 9.22534 6.1156 9.6133 6.03843C10.0013 5.96126 10.4034 6.00087 10.7689 6.15224C11.1343 6.30362 11.4467 6.55996 11.6664 6.88886C11.8862 7.21776 12.0035 7.60444 12.0035 8C12.0035 8.53043 11.7928 9.03914 11.4177 9.41421C11.0426 9.78929 10.5339 10 10.0035 10Z" fill="#ACACAC")
						<label for="c1">
							<input type="checkbox" id="c1" checked>
							<p><span>Я даю згоду на обробку персональних даних</span> та підтверджую ознайомлення та згоду з<br/> Повідомленням про порядок обробки і захист персональних даних.</p>
						</label>
						button.stock-banner__btn(type="submit") Вiдправити
							svg(viewBox="0 0 9 15" fill="none")
								path(d="M1.54944 14.9909C1.1452 14.9909 0.733044 15.0052 0.328812 14.9837C0.0355447 14.9694 -0.0595689 14.8188 0.0355447 14.5679C0.0910276 14.4317 0.178215 14.2955 0.273329 14.1808C2.06463 12.0157 3.85594 9.85063 5.65517 7.68557C5.77406 7.54936 5.77406 7.45616 5.65517 7.31994C3.85594 5.15488 2.05671 2.98981 0.265403 0.824744C0.146511 0.681363 0.0672492 0.494966 0.0117663 0.315739C-0.0357905 0.172357 0.0672492 0.0648204 0.233698 0.036144C0.320885 0.0218058 0.400147 0.00746765 0.487334 0.00746765C1.12935 0.000298559 1.76344 0.0146367 2.40546 0.000298559C2.76213 -0.00687054 3.01577 0.115004 3.22185 0.373091C5.04486 2.61702 6.8758 4.85378 8.70673 7.09053C8.8177 7.22675 9 7.37013 9 7.51351C9 7.64972 8.80977 7.78594 8.69881 7.92215C6.8758 10.1517 5.05279 12.3813 3.2377 14.6109C3.03955 14.8618 2.80969 15.0196 2.45302 14.998C2.15182 14.9765 1.85063 14.9909 1.54944 14.9909Z" fill="#FCFCFC")
					form.stock-banner__form-user-exists
						.stock-banner__form-user-exists-border
							.stock-banner__form-user-exists-circle
								svg( viewBox="0 0 4 20" fill="none")
									path(d="M3.1005 18.688C3.8285 17.96 3.8285 16.816 3.1005 16.088C2.3985 15.36 1.2545 15.36 0.5265 16.088C-0.1755 16.816 -0.1755 17.96 0.5265 18.688C1.2545 19.39 2.3985 19.39 3.1005 18.688ZM3.1005 13.15L3.6985 0.800049H0.00650018L0.5785 13.15H3.1005Z" fill="white")
							p.stock-banner__form-user-exists-text Вибачте, але ви вже зареєструвалися<br/> за цими даними
						.stock-banner__form-user-exists-actions
							button.stock-banner__form-user-exists-btn(type="submit") Спробувати ще
							a.stock-banner__form-user-exists-link(href="/") Повернутися до iншiх акцiй 
					form.stock-banner__right-registration-form
						h4.stock-banner__right-registration-form-title Результати будуть незабаром
						.stock-banner__right-registration-form-border
							.stock-banner__right-registration-form-circle
								svg(viewBox="0 0 15 11" fill="none")
									path(d="M13.7319 0.295798C13.639 0.20207 13.5284 0.127675 13.4065 0.0769067C13.2846 0.026138 13.1539 0 13.0219 0C12.8899 0 12.7592 0.026138 12.6373 0.0769067C12.5155 0.127675 12.4049 0.20207 12.3119 0.295798L4.86192 7.7558L1.73192 4.6158C1.6354 4.52256 1.52146 4.44925 1.3966 4.40004C1.27175 4.35084 1.13843 4.32671 1.00424 4.32903C0.870064 4.33135 0.737655 4.36008 0.614576 4.41357C0.491498 4.46706 0.380161 4.54428 0.286922 4.6408C0.193684 4.73732 0.12037 4.85126 0.0711659 4.97612C0.0219619 5.10097 -0.00216855 5.2343 0.000152918 5.36848C0.00247438 5.50266 0.0312022 5.63507 0.0846957 5.75814C0.138189 5.88122 0.215401 5.99256 0.311922 6.0858L4.15192 9.9258C4.24489 10.0195 4.35549 10.0939 4.47735 10.1447C4.59921 10.1955 4.72991 10.2216 4.86192 10.2216C4.99393 10.2216 5.12464 10.1955 5.2465 10.1447C5.36836 10.0939 5.47896 10.0195 5.57192 9.9258L13.7319 1.7658C13.8334 1.67216 13.9144 1.5585 13.9698 1.432C14.0252 1.30551 14.0539 1.1689 14.0539 1.0308C14.0539 0.892697 14.0252 0.756091 13.9698 0.629592C13.9144 0.503092 13.8334 0.389441 13.7319 0.295798Z" fill="white")
							p.stock-banner__right-registration-form-text Ви успішно зареєстровані в акції
						.stock-banner__right-registration-form-actions
							button.stock-banner__right-registration-form-btn(type="submit") Зареєструвати ще
							a.stock-banner__right-registration-form-link(href="/") Повернутися до iншiх акцiй
					form.stock-banner__right-finish-form
						h4.stock-banner__right-finish-form-title Результати будуть незабаром
						a.stock-banner__right-finish-form-link(href="/") Повернутися до iншiх акцiй


	section.stock-section
		.wrapper.flex.flex-direction-mob
			.stock-section__left
				h3.stock-section__title Про акцiю
				p.stock-section__subtitle До кiнця акцiї
				.timer
						.timer__block
							time.timer__count 18
							p.timer__string днiв
						.timer__block
							time.timer__count 12
							p.timer__string годин
						.timer__block
							time.timer__count 43
							p.timer__string хвилин

			.wysiwyg-stock
				p Бажаєте побачити себе по-новому? Відкрити риси, яких досі не помічали? Виявити те спільне, що поєднує вас із містом, яке нібито добре знали? 
				p Вийдіть на вулиці Києва, Львова, Одеси, Харкова або Дніпра разом із професійним фотографом. Довіртеся його таланту та отримайте безцінні враження від фотосесії, у якій поєднаються образи — ваш та міста. Отримайте можливість виграти один із 5 сертифікатів на міську фотосесію та погляньте на себе і своє місто по-новому.
				form
					a(href="/") Офіційні правила акції
						span
							svg(viewBox="0 0 17 18" fill="none")
								path(d="M15.9375 15.96H1.0625C0.780707 15.96 0.510457 16.0675 0.311199 16.2588C0.111942 16.45 0 16.7095 0 16.98C0 17.2505 0.111942 17.51 0.311199 17.7013C0.510457 17.8925 0.780707 18 1.0625 18H15.9375C16.2193 18 16.4895 17.8925 16.6888 17.7013C16.8881 17.51 17 17.2505 17 16.98C17 16.7095 16.8881 16.45 16.6888 16.2588C16.4895 16.0675 16.2193 15.96 15.9375 15.96ZM7.74563 13.6242C7.84667 13.7171 7.96583 13.7899 8.09625 13.8384C8.22343 13.8924 8.36095 13.9202 8.5 13.9202C8.63905 13.9202 8.77657 13.8924 8.90375 13.8384C9.03417 13.7899 9.15333 13.7171 9.25438 13.6242L13.5044 9.5442C13.7044 9.35213 13.8168 9.09163 13.8168 8.82C13.8168 8.54837 13.7044 8.28787 13.5044 8.0958C13.3043 7.90373 13.0329 7.79583 12.75 7.79583C12.4671 7.79583 12.1957 7.90373 11.9956 8.0958L9.5625 10.4418V1.02C9.5625 0.749479 9.45056 0.490038 9.2513 0.298751C9.05204 0.107464 8.78179 0 8.5 0C8.21821 0 7.94796 0.107464 7.7487 0.298751C7.54944 0.490038 7.4375 0.749479 7.4375 1.02V10.4418L5.00438 8.0958C4.90531 8.0007 4.7877 7.92526 4.65827 7.87379C4.52883 7.82232 4.3901 7.79583 4.25 7.79583C4.1099 7.79583 3.97117 7.82232 3.84174 7.87379C3.7123 7.92526 3.59469 8.0007 3.49562 8.0958C3.39656 8.1909 3.31798 8.30381 3.26436 8.42807C3.21075 8.55232 3.18315 8.6855 3.18315 8.82C3.18315 8.9545 3.21075 9.08768 3.26436 9.21194C3.31798 9.33619 3.39656 9.4491 3.49562 9.5442L7.74563 13.6242Z" fill="white")
					small Ви можете ознайомитися<br/> з деталями акції

	section.propose-section.wrapper
		.propose-section__left
			h4.propose-section__title Як скористатися<br/> пропозицією:
		.wysiwyg-propose
			ul
				li <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg> Реєструйтеся в програмі Mastercard Більше на сайті <a href="/">bilshe.mastercard.ua</a>
				li <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg> Накопичуйте бали за оплати карткою Mastercard®;
				li <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg> Обмінюйте 10 срібних або 1 золотий бал на участь у розіграші сертифіката на фотосесію у вашому місті.
			p Що більше балів ви обміняєте, то вищими будуть ваші шанси на виграш. Розігрується по 1 сертифікату в кожному з 5 міст України: Київ, Харків, Львів, Одеса, Дніпро. Термін дії сертифіката, умови щодо використання та інші деталі буде зазначено у сертифікаті.
			small Акція діє з 01.03.2021 по 15.04.2021 року на всій території України, за винятком зони проведення<br/> ООС і тимчасово окупованої території.
			a.propose-section__btn(href="/") Взяти участь
				svg(viewBox="0 0 9 15" fill="none")
					path(d="M1.54944 14.9909C1.1452 14.9909 0.733044 15.0052 0.328812 14.9837C0.0355447 14.9694 -0.0595689 14.8188 0.0355447 14.5679C0.0910276 14.4317 0.178215 14.2955 0.273329 14.1808C2.06463 12.0157 3.85594 9.85063 5.65517 7.68557C5.77406 7.54936 5.77406 7.45616 5.65517 7.31994C3.85594 5.15488 2.05671 2.98981 0.265403 0.824744C0.146511 0.681363 0.0672492 0.494966 0.0117663 0.315739C-0.0357905 0.172357 0.0672492 0.0648204 0.233698 0.036144C0.320885 0.0218058 0.400147 0.00746765 0.487334 0.00746765C1.12935 0.000298559 1.76344 0.0146367 2.40546 0.000298559C2.76213 -0.00687054 3.01577 0.115004 3.22185 0.373091C5.04486 2.61702 6.8758 4.85378 8.70673 7.09053C8.8177 7.22675 9 7.37013 9 7.51351C9 7.64972 8.80977 7.78594 8.69881 7.92215C6.8758 10.1517 5.05279 12.3813 3.2377 14.6109C3.03955 14.8618 2.80969 15.0196 2.45302 14.998C2.15182 14.9765 1.85063 14.9909 1.54944 14.9909Z" fill="#FCFCFC")

	section.faq
		.wrapper.flex.flex-direction-mob
			.faq__left
				h4.faq__title Поширені запитання
			.faq__right
				button(class="faq__accordion") Чи обов’язково реєструватися? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
					.faq__accordion-body
						p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.

				button(class="faq__accordion") Хто може взяти участь в акції? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
					.faq__accordion-body
						p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.

				button(class="faq__accordion") Що потрібно зробити? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
					.faq__accordion-body
						p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.

				button(class="faq__accordion") Яка винагорода чекає на учасників акції? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
					.faq__accordion-body
						p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.

				button(class="faq__accordion border-bottom-0") Коли буде визначено переможців? <svg fill="none" viewBox="0 0 10 19" xmlns="http://www.w3.org/2000/svg"><path d="m1.7216 18.5601c-.44915 0-.907106.0178-1.356254-.0088-.3258519-.0178-.4315336-.2042-.3258519-.5149.0616479-.1686.1585229-.3372.2642049-.4793 1.990341-2.6805 3.980681-5.3611 5.979821-8.04163.13211-.16865.13211-.28404 0-.45268-1.99914-2.68056-3.99829-5.36112-5.988628-8.04168-.132102-.177518-.2201706-.408295-.2818183-.630195-.0528409-.177521.0616477-.3106611.2465903-.3461652.096875-.0177521.184944-.03550413.281818-.03550413.713348-.00887603 1.417898.00887603 2.131248-.00887603.39631-.00887602.67813.14201636.9071.46155336 2.02557 2.778197 4.05994 5.547517 6.09432 8.316837.12329.16864.32585.34616.32585.52368 0 .16865-.21136.33729-.33466.50594-2.02557 2.76042-4.05113 5.52092-6.06789 8.28132-.22017.3107-.47557.5059-.87188.4793-.33466-.0266-.66932-.0089-1.00397-.0089z" fill="#e28e3e"/></svg>
					.faq__accordion-body
						p Клієнти KredoBank з ІПН віком від 18 років, які мають картку Mastercard.