#cookie.cookie
	p.cookie__text На сайті для зручності користувачів використовуються файли cookies. Відвідуючи сторінки сайту, ви погоджуєтесь<br/> на використання файлів cookies. Просимо ознайомитись <a href="/">з правилами обробки персональних даних</a>
	button.cookie__btn(type="submit") Погоджуюсь
