//- include _mixins
doctype html
html
  head
    include _head

  body(class=bodyClass)
    block header
      include ../particles/_header

    block content

    block footer
      include ../particles/_footer

    //LOAD SCRIPTS
    block scripts
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
      //- script(type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js")
      //- script(type="text/javascript" src="js/lib/numbermask.js")
      script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js")
      //- script(type="text/javascript" src="js/lib/skeuocard.min.js")
      script(type="text/javascript" src="js/app.js")
